# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/pnpm-lock.yaml
/lib

# production
dist

# misc
.DS_Store

# umi
.umi
**/src/.umi-production
**/src/.umi-test
/.env.local

# dist_electron
dist_electron

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
node_modules
*/yarn.lock
